@font-face {
  font-family: "DIN Pro";
  src: url("../fonts/DINPro-Black.otf") format("opentype");
  font-weight: 900; }
@font-face {
  font-family: "DIN Pro";
  src: url("../fonts/DINPro-Bold.otf") format("opentype");
  font-weight: 800; }
@font-face {
  font-family: "DIN Pro";
  src: url("../fonts/DINPro-Medium.otf") format("opentype");
  font-weight: 600; }
@font-face {
  font-family: "DIN Pro";
  src: url("../fonts/DINPro-Regular.otf") format("opentype");
  font-weight: 400; }
@font-face {
  font-family: "DIN Pro";
  src: url("../fonts/DINPro-Light.otf") format("opentype");
  font-weight: 300; }
html {
  min-height: 100vh;
  box-sizing: border-box;
  font-size: 100%; }

*,
*:before,
*:after {
  box-sizing: border-box; }

body {
  min-height: 100vh;
  font-family: "DIN Pro",Tahoma, Geneva, sans-serif;
  font-size: 1rem;
  line-height: 1.45;
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #07090e; }

.background {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -10;
  position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  background-image: url(../img/background-xl@2x.jpg);
  /*    @include media(xl){
          background-image: url(../img/background-xl.jpg); 
          @include media-retina{
              background-image: url(../img/background-xl@2x.jpg); 
          }
      }*/ }
  .background--transparent {
    pointer-events: none;
    z-index: 5;
    background-image: url(../img/header-background-xl@2x.png); }

.header {
  display: flex;
  z-index: 100;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  font-size: calc(0.7954545455vw + 0.6534090909rem);
  padding-left: calc(1.1363636364vw + 0.3977272727rem);
  padding-right: calc(1.1363636364vw + 0.3977272727rem);
  padding-top: calc(1.1363636364vw + 0.3977272727rem);
  padding-bottom: calc(1.1363636364vw + 0.3977272727rem);
  align-items: center;
  justify-content: space-between; }
  @media (min-width: 75em) {
    .header {
      font-size: 1.25rem; } }
  @media (min-width: 75em) {
    .header {
      padding-left: 1.25rem; } }
  @media (min-width: 75em) {
    .header {
      padding-right: 1.25rem; } }
  @media (min-width: 75em) {
    .header {
      padding-top: 1.25rem; } }
  @media (min-width: 75em) {
    .header {
      padding-bottom: 1.25rem; } }
  .header--overlay {
    background: linear-gradient(to bottom, #07090e 0%, rgba(7, 9, 14, 0.9) 20%, rgba(7, 9, 14, 0) 100%); }

.header__logo {
  width: calc(10.2272727273vw + 2.3295454545rem);
  height: calc(4.0170454545vw + 0.9153409091rem); }
  @media (min-width: 75em) {
    .header__logo {
      width: 10rem; } }
  @media (min-width: 75em) {
    .header__logo {
      height: 3.928125rem; } }

.header__button {
  background-color: #DA0E16;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: calc(0.7954545455vw + 0.6534090909rem);
  padding: 0.625rem 0.9375rem; }
  @media (min-width: 75em) {
    .header__button {
      font-size: 1.25rem; } }

.header__menu__item {
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition-property: color;
  transition-duration: 500ms; }
  .header__menu__item:not(:last-child) {
    margin-right: calc(6.1363636364vw - 0.6022727273rem); }
    @media (min-width: 75em) {
      .header__menu__item:not(:last-child) {
        margin-right: 4rem; } }
  .header__menu__item.active, .header__menu__item:hover {
    color: #DA0E16; }

.main {
  display: flex;
  z-index: 0;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: calc(4.4147727273vw + 3.1170454545rem); }
  @media (min-width: 75em) {
    .main {
      padding-top: 6.428125rem; } }
  .main--menu {
    padding-top: calc(14.2857142857vw + 2.1428571429rem);
    padding-bottom: calc(10.7142857143vw - 0.2678571429rem); }
    @media (min-width: 37.5em) {
      .main--menu {
        padding-top: 7.5rem; } }
    @media (min-width: 37.5em) {
      .main--menu {
        padding-top: calc(6.3083333333vw + 1.696875rem); } }
  @media (min-width: 37.5em) and (min-width: 75em) {
    .main--menu {
      padding-top: 6.428125rem; } }

    @media (min-width: 37.5em) {
      .main--menu {
        padding-bottom: 3.75rem; } }
    @media (min-width: 37.5em) {
      .main--menu {
        padding-bottom: 0; } }

.footer {
  display: flex;
  width: 100%;
  font-size: calc(0.9166666667vw + 0.0166666667rem);
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(2.8409090909vw + 0.3693181818rem);
  padding-right: calc(2.8409090909vw + 0.3693181818rem);
  font-size: calc(0.4545454545vw + 0.7840909091rem); }
  @media (min-width: 80em) {
    .footer {
      font-size: 0.75rem; } }
  @media (min-width: 75em) {
    .footer {
      padding-left: 2.5rem; } }
  @media (min-width: 75em) {
    .footer {
      padding-right: 2.5rem; } }
  @media (min-width: 75em) {
    .footer {
      font-size: 1.125rem; } }
  .footer--wide .footer__container {
    max-width: 100%; }

.footer__container {
  display: flex;
  border-top: 0.1em solid white;
  max-width: 43.75rem;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  padding: 0.6em 0; }

.footer__line--highlighted {
  color: #DA0E16; }

.video-overlay {
  z-index: -100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.video-overlay__video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.textslider {
  width: 100%;
  position: relative;
  display: flex;
  align-self: stretch;
  align-items: center;
  justify-content: center;
  padding-bottom: 13.4375rem; }

.textslider__slide {
  position: absolute;
  text-align: center;
  opacity: 0;
  transition: opacity 500ms ease; }
  .textslider__slide--active {
    transition-delay: 500ms;
    opacity: 1; }

.textslider__line {
  font-weight: bold;
  letter-spacing: 0.1875rem;
  font-size: calc(2.2727272727vw + 1.4204545455rem); }
  @media (min-width: 75em) {
    .textslider__line {
      font-size: 3.125rem; } }
  .textslider__line--highlight {
    color: #DA0E16; }

.textslider__controlls {
  display: flex;
  position: fixed;
  bottom: 3.125rem; }

.textslider__controll {
  display: block;
  width: 0.9375rem;
  height: 0.9375rem;
  background-color: white;
  border-radius: 50%;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 500ms ease; }
  .textslider__controll:not(:first-of-type) {
    margin-left: 1.875rem; }
  .textslider__controll--active, .textslider__controll:hover {
    opacity: 1; }

.menu {
  display: flex;
  width: 100%;
  font-size: calc(0.9166666667vw + 0.0166666667rem);
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(2.8409090909vw + 0.3693181818rem);
  padding-right: calc(2.8409090909vw + 0.3693181818rem);
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(1.7857142857vw + 0.3928571429rem); }
  @media (min-width: 80em) {
    .menu {
      font-size: 0.75rem; } }
  @media (min-width: 75em) {
    .menu {
      padding-left: 2.5rem; } }
  @media (min-width: 75em) {
    .menu {
      padding-right: 2.5rem; } }
  @media (min-width: 37.5em) {
    .menu {
      font-size: 1.0625rem; } }
  @media (min-width: 37.5em) {
    .menu {
      justify-content: flex-start;
      font-size: calc(0.5vw + 0.625rem);
      padding-bottom: 4em; } }
  @media (min-width: 37.5em) and (min-width: 75em) {
    .menu {
      font-size: 1rem; } }

.menu__item {
  text-align: center;
  width: 43%; }
  .menu__item:nth-of-type(n + 3) {
    margin-top: calc(10.7142857143vw - 0.2678571429rem); }
    @media (min-width: 37.5em) {
      .menu__item:nth-of-type(n + 3) {
        margin-top: 3.75rem; } }
  @media (min-width: 37.5em) {
    .menu__item {
      width: 25%; }
      .menu__item:nth-of-type(n + 3) {
        margin-top: 0; }
      .menu__item:nth-of-type(n + 5) {
        margin-top: calc(0vw + 3.75rem); } }
    @media (min-width: 37.5em) and (min-width: 56.25em) {
      .menu__item:nth-of-type(n + 5) {
        margin-top: calc(13.3333333333vw - 3.75rem); } }
    @media (min-width: 37.5em) and (min-width: 75em) {
      .menu__item:nth-of-type(n + 5) {
        margin-top: 6.25rem; } }

.menu__link {
  position: relative;
  perspective: 12.5rem;
  margin: 0 auto;
  display: inline-block;
  transition: transform 500ms ease; }
  .menu__link:hover {
    transform: scale(1.1, 1.1); }

.menu__item__image {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 5em;
  height: 5em; }
  @media (min-width: 37.5em) {
    .menu__item__image {
      width: 6.15em;
      height: 6.15em; } }

.menu__item__name {
  text-decoration: none;
  color: white;
  margin-top: 1em;
  display: inline-block;
  font-weight: 600; }

.icon__square {
  fill: white; }

.icon__path {
  fill: #DA0E16; }

.icon--cmyk .icon__path {
  transition-property: fill;
  transition-timing-function: ease;
  transition-duration: 900ms; }
.icon--cmyk .icon__path--4, .icon--cmyk .icon__path--5, .icon--cmyk .icon__path--6, .icon--cmyk .icon__path--7 {
  fill: transparent; }
.menu__link:hover .icon--cmyk .icon__path--1 {
  fill: #1797D5; }
.menu__link:hover .icon--cmyk .icon__path--2 {
  fill: #E40A7D; }
.menu__link:hover .icon--cmyk .icon__path--3 {
  fill: #FCE405; }
.menu__link:hover .icon--cmyk .icon__path--4 {
  fill: #2C2E76; }
.menu__link:hover .icon--cmyk .icon__path--5 {
  fill: #018D3D; }
.menu__link:hover .icon--cmyk .icon__path--6 {
  fill: #DB1319; }
.menu__link:hover .icon--cmyk .icon__path--7 {
  fill: #020203; }

.icon--emailing .icon__path {
  transition-property: fill,transform;
  transition-timing-function: ease;
  transition-duration: 900ms;
  transform-origin: 50% 50%;
  transform: rotate(0deg); }
.menu__link:hover .icon--emailing .icon__path--1 {
  fill: #203ca5;
  transform: rotate(-360deg); }

.icon--lettershop .icon__path {
  transition-property: transform, fill;
  transition-timing-function: ease;
  transition-duration: 500ms; }
.icon--lettershop .icon__path--5 {
  fill: white; }
.menu__link:hover .icon--lettershop .icon__path:not(.icon__path--5) {
  fill: #203ca5; }
.menu__link:hover .icon--lettershop .icon__path--3 {
  transform: translateY(-2.5rem); }

.icon--lettershopping .icon__path--1 {
  transition-property: transform;
  transition-timing-function: ease;
  transition-duration: 500ms; }
.menu__link:hover .icon--lettershopping .icon__path--1 {
  transform: translateY(2.5rem); }

.icon--folders .icon__path--6 {
  fill: white; }
.icon--folders .icon__path {
  transition-property: fill;
  transition-duration: 500ms; }
.menu__link:hover .icon--folders .icon__path:not(.icon__path--6) {
  fill: #203ca5; }

.icon--folders.icon--overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  transform: rotateY(50deg);
  transition-property: transform;
  transition-duration: 900ms; }
  .menu__link:hover .icon--folders.icon--overlay {
    transform: rotateY(180deg); }

.icon--service .icon__path--1 {
  transition-property: fill;
  transition-duration: 600ms; }
.icon--service .icon__path--2 {
  fill: white; }
.icon--service .icon__path--3 {
  fill: white; }
.icon--service .icon__path--4 {
  fill: none;
  stroke: white;
  stroke-width: 6.9;
  stroke-dasharray: 345;
  stroke-dashoffset: 0;
  transition-property: stroke-dashoffset;
  transition-duration: 1100ms;
  transition-delay: 400ms;
  will-change: stroke-dashoffset; }
.icon--service .icon__path--5 {
  fill: none;
  stroke: white;
  stroke-width: 6.9;
  stroke-dasharray: 345;
  stroke-dashoffset: 345;
  transition-property: stroke-dashoffset;
  transition-duration: 1100ms;
  transition-delay: 0s;
  will-change: stroke-dashoffset; }
.menu__link:hover .icon--service .icon__path--1 {
  fill: #203ca5; }
.menu__link:hover .icon--service .icon__path--4 {
  stroke-dashoffset: -345;
  transition-delay: 0s; }
.menu__link:hover .icon--service .icon__path--5 {
  transition-delay: 400ms;
  stroke-dashoffset: 0; }

.icon--transaction .icon__path {
  transform-origin: center center;
  transition-property: transform, fill, stroke;
  transition-duration: 600ms; }
.icon--transaction .icon__path--1 {
  transition-delay: 300ms,0ms,0ms; }
.icon--transaction .icon__path--2 {
  transition-delay: 200ms,0ms,0ms; }
.icon--transaction .icon__path--3 {
  transition-delay: 100ms,0ms,0ms; }
.icon--transaction .icon__path--4 {
  transition-delay: 0ms; }
.icon--transaction .icon__path--6, .icon--transaction .icon__path--7 {
  fill: none;
  stroke: #DA0E16;
  stroke-width: 9; }
.icon--transaction .icon__path--8 {
  fill: white; }
.menu__link:hover .icon--transaction .icon__path:not(.icon__path--8) {
  fill: #203ca5;
  stroke: #203ca5; }
.menu__link:hover .icon--transaction .icon__path--1 {
  transform: translate(-0.875rem, 0.875rem) scale(1.4, 1.4);
  transition-delay: 0ms,0ms,0ms; }
.menu__link:hover .icon--transaction .icon__path--2 {
  transform: translate(-0.875rem, -0.875rem) scale(1.4, 1.4);
  transition-delay: 100ms,0ms,0ms; }
.menu__link:hover .icon--transaction .icon__path--3 {
  transform: translate(0.875rem, -0.875rem) scale(1.4, 1.4);
  transition-delay: 200ms,0ms,0ms; }
.menu__link:hover .icon--transaction .icon__path--4 {
  transform: translate(0.875rem, 0.875rem) scale(1.4, 1.4);
  transition-delay: 300ms,0ms,0ms; }

.icon--packaging .icon__path {
  transition-property: transform,fill;
  transition-duration: 800ms; }
.icon--packaging .icon__path--1 {
  transform-origin: center center; }
.menu__link:hover .icon--packaging .icon__path {
  fill: #203ca5; }
.menu__link:hover .icon--packaging .icon__path--1 {
  transform: rotate(45deg); }
.menu__link:hover .icon--packaging .icon__path--2 {
  transform: translate(0.625rem, 0.625rem); }
.menu__link:hover .icon--packaging .icon__path--3 {
  transform: translate(-0.625rem, 0.625rem); }
.menu__link:hover .icon--packaging .icon__path--4 {
  transform: translate(-0.625rem, -0.625rem); }
.menu__link:hover .icon--packaging .icon__path--5 {
  transform: translate(0.625rem, -0.625rem); }

.icon--post .icon__path {
  transform-origin: 100% 0%;
  transition-property: transform, fill;
  transition-duration: 600ms;
  transition-timing-function: ease; }
.menu__link:hover .icon--post .icon__path--1, .menu__link:hover .icon--post .icon__path--2 {
  fill: #203ca5;
  transform: scale(0.9, 0.9);
  transition-timing-function: cubic-bezier(0.45, 2.69, 0.48, -0.07), ease; }
.menu__link:hover .icon--post .icon__path--3 {
  fill: #203ca5;
  transform: scale(1.1, 1.1) translate(0.25rem, -0.3125rem);
  transition-timing-function: cubic-bezier(0.45, 2.69, 0.48, -0.07), ease; }

.logo {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0; }

.logo_object {
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

.logo__object--1 {
  animation-name: logo-rect-1; }

.logo__object--2 {
  animation-name: logo-rect-2; }

.logo__object--3 {
  animation-name: logo-rect-3; }

.logo__object--4 {
  animation-name: logo-rect-4; }

.logo__object--5 {
  animation-name: logo-rotate;
  transform-origin: 21.402%; }

.logo__object--6 {
  fill: white;
  animation-name: logo-rotate;
  transform-origin: 21.402%; }

.logo__object--7 {
  fill: white; }

@keyframes logo-rect-1 {
  0%,20% {
    transform: translate(0px, 0px); }
  25%,41% {
    transform: translate(154px, 139px); }
  46%,100% {
    transform: translate(0px, 0px); } }
@keyframes logo-rect-2 {
  0%,23% {
    transform: translate(0px, 0px); }
  28%,44% {
    transform: translate(-154px, 139px); }
  49%,100% {
    transform: translate(0px, 0px); } }
@keyframes logo-rect-3 {
  0%,26% {
    transform: translate(0px, 0px); }
  31%,47% {
    transform: translate(-154px, -139px); }
  50%,100% {
    transform: translate(0px, 0px); } }
@keyframes logo-rect-4 {
  0%,29% {
    transform: translate(0px, 0px); }
  34%,50% {
    transform: translate(154px, -139px); }
  53%,100% {
    transform: translate(0px, 0px); } }
@keyframes logo-rotate {
  0%,34% {
    transform: rotate(0deg);
    fill: white; }
  41%,63% {
    transform: rotate(360deg);
    fill: #DA0E16; }
  73%,100% {
    transform: rotate(360deg);
    fill: white; } }
.detail {
  display: flex;
  width: 100%;
  font-size: calc(0.9166666667vw + 0.0166666667rem);
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(2.8409090909vw + 0.3693181818rem);
  padding-right: calc(2.8409090909vw + 0.3693181818rem);
  align-self: flex-start;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  @media (min-width: 80em) {
    .detail {
      font-size: 0.75rem; } }
  @media (min-width: 75em) {
    .detail {
      padding-left: 2.5rem; } }
  @media (min-width: 75em) {
    .detail {
      padding-right: 2.5rem; } }

.detail__block {
  display: flex;
  flex-direction: column;
  max-width: 43.75rem;
  margin-top: 0;
  margin-bottom: calc(1.1363636364vw + 0.7102272727rem); }
  @media (min-width: 75em) {
    .detail__block {
      margin-bottom: 1.5625rem; } }

.image {
  position: relative;
  width: 100%;
  margin: 0;
  margin-bottom: 2.8em;
  font-size: calc(0.4545454545vw + 0.7840909091rem); }
  @media (min-width: 75em) {
    .image {
      font-size: 1.125rem; } }

.image__container {
  position: relative;
  width: 100%;
  overflow: hidden;
  border: 0.22em solid #DA0E16;
  cursor: pointer;
  margin-bottom: .5em; }

.image__ratio {
  display: block;
  width: 100%; }

.image__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  transform-origin: center center;
  transition: transform 500ms ease; }
  .image__container:hover .image__img {
    transform: scale(1.1, 1.1); }

.image__caption {
  font-style: italic;
  font-weight: 300; }
  .image__caption--center {
    text-align: center; }

.form {
  font-size: calc(0.7954545455vw + 0.6534090909rem);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 3em; }
  @media (min-width: 75em) {
    .form {
      font-size: 1.25rem; } }

.form__input {
  width: 100%;
  height: 3em;
  background-color: rgba(7, 9, 14, 0.7);
  outline: none;
  border: 0.12em solid rgba(255, 255, 255, 0.6);
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 1.2em;
  padding: 0 1em;
  transition-property: color, border-color;
  transition-duration: 500ms; }
  .form__input:hover, .form__input:focus {
    border-color: white;
    color: white; }
  @media (min-width: 37.5em) {
    .form__input {
      width: 49%; } }

.form__textarea {
  width: 100%;
  height: 20em;
  background-color: rgba(7, 9, 14, 0.7);
  outline: none;
  border: 0.12em solid rgba(255, 255, 255, 0.6);
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 1.2em;
  padding: 1em 1em;
  transition-property: color, border-color;
  transition-duration: 500ms; }
  .form__textarea:hover, .form__textarea:focus {
    border-color: white;
    color: white; }

.form__button {
  margin: auto;
  padding: 0.8em 1.5em;
  line-height: 1;
  text-transform: uppercase;
  background-color: #DA0E16;
  border: none;
  color: white;
  cursor: pointer;
  transition-property: color, border-color, background-color;
  transition-duration: 500ms; }

.contacts {
  display: flex;
  width: 100%;
  font-size: calc(0.9166666667vw + 0.0166666667rem);
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(2.8409090909vw + 0.3693181818rem);
  padding-right: calc(2.8409090909vw + 0.3693181818rem);
  flex-wrap: wrap;
  align-items: flex-start;
  align-self: flex-start;
  justify-content: space-between; }
  @media (min-width: 80em) {
    .contacts {
      font-size: 0.75rem; } }
  @media (min-width: 75em) {
    .contacts {
      padding-left: 2.5rem; } }
  @media (min-width: 75em) {
    .contacts {
      padding-right: 2.5rem; } }

.contacts__heading {
  width: 100%;
  text-align: center; }

.contacts__block {
  width: 100%; }
  @media (min-width: 56.25em) {
    .contacts__block--left {
      width: 30%; } }
  .contacts__block--right {
    margin-bottom: 2em; }
    @media (min-width: 56.25em) {
      .contacts__block--right {
        width: 60%; } }

.contacts__map {
  font-size: calc(0.4545454545vw + 0.7840909091rem);
  width: 100%;
  border: 0.22em solid #DA0E16;
  height: 90vw; }
  @media (min-width: 75em) {
    .contacts__map {
      font-size: 1.125rem; } }
  @media (min-width: 56.25em) {
    .contacts__map {
      height: 30vw;
      max-height: 22.5rem; } }

.references {
  display: flex;
  width: 100%;
  font-size: calc(0.9166666667vw + 0.0166666667rem);
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(2.8409090909vw + 0.3693181818rem);
  padding-right: calc(2.8409090909vw + 0.3693181818rem);
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: calc(5.6818181818vw - 1.1363636364rem);
  padding-top: calc(5.6818181818vw - 1.1363636364rem); }
  @media (min-width: 80em) {
    .references {
      font-size: 0.75rem; } }
  @media (min-width: 75em) {
    .references {
      padding-left: 2.5rem; } }
  @media (min-width: 75em) {
    .references {
      padding-right: 2.5rem; } }
  @media (min-width: 75em) {
    .references {
      padding-bottom: 3.125rem; } }
  @media (min-width: 75em) {
    .references {
      padding-top: 3.125rem; } }

.references__item {
  text-align: center;
  width: 100%; }
  .references__item:nth-of-type(n + 2) {
    margin-top: 10em; }
  @media (min-width: 37.5em) {
    .references__item {
      width: 33.33333%; }
      .references__item:nth-of-type(-n + 4) {
        margin-top: 0; }
      .references__item:nth-of-type(n + 4) {
        margin-top: 10em; } }
  @media (min-width: 56.25em) {
    .references__item {
      width: 25%; }
      .references__item:nth-of-type(-n + 5) {
        margin-top: 0; }
      .references__item:nth-of-type(n + 5) {
        margin-top: 10em; } }

.references__logo {
  display: block;
  margin: 0 auto;
  width: 60%;
  max-width: 15.625rem; }
  @media (min-width: 37.5em) {
    .references__logo {
      max-width: none; } }

.heading {
  display: flex;
  align-items: center;
  letter-spacing: 0.125rem;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 0;
  font-size: calc(2.2727272727vw + 1.4204545455rem);
  line-height: 1.2;
  text-align: center;
  margin-bottom: 0.7em; }
  @media (min-width: 75em) {
    .heading {
      font-size: 3.125rem; } }
  .heading--subheading {
    justify-content: flex-start;
    text-align: left;
    font-size: calc(1.4772727273vw + 1.0795454545rem); }
    @media (min-width: 75em) {
      .heading--subheading {
        font-size: 2.1875rem; } }
  .heading--center {
    justify-content: center; }
  .heading--bold {
    font-weight: bold; }

.heading__image {
  width: 1.6em; }
  @media (min-width: 37.5em) {
    .heading__image {
      margin-right: 0.3em;
      width: 1.6em; } }

.heading__text {
  width: 100%; }
  @media (min-width: 37.5em) {
    .heading__text {
      width: auto;
      text-align: left; } }
  .heading__text--highlighted {
    color: #DA0E16; }

.paragraph {
  width: 100%;
  font-size: calc(0.7954545455vw + 0.6534090909rem);
  line-height: 1.4;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 2em;
  text-align: justify;
  margin-bottom: calc(1.1363636364vw + 1.3352272727rem); }
  @media (min-width: 75em) {
    .paragraph {
      font-size: 1.25rem; } }
  @media (min-width: 75em) {
    .paragraph {
      margin-bottom: 2.1875rem; } }
  .paragraph--bold {
    font-weight: bold; }

.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: calc(0.7954545455vw + 0.6534090909rem);
  font-weight: 300;
  padding-left: 2em;
  margin-bottom: 2em; }
  @media (min-width: 75em) {
    .list {
      font-size: 1.25rem; } }

.list__item {
  position: relative;
  line-height: 1.2; }
  .list__item:not(:last-of-type) {
    margin-bottom: 0.5em; }
  .list__item:before {
    content: "";
    position: absolute;
    top: 0.35em;
    left: -1em;
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    background-color: #DA0E16; }

/*# sourceMappingURL=main.css.map */
