.paragraph{
    width: 100%;
    @include fluid-font(m);
    line-height: $paragraph-line-height;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: $paragraph-spacing;
    text-align: justify;
    @include linear-interpolation-chain(margin-bottom,$detail-paragraph-spacings);
    &--bold{
        font-weight: bold;
    }
    &--highlighted{
        font-weight: bold;
        color: $color-terciary;
    }
    
    &--tip{
        font-style: italic;
        border: rem(1.8) solid $color-secondary;
        padding: 1em;
    }
}
